body {
  /* background-color: #f1f1f1; */
}
.AllMoviesContainer .heading {
  padding: 0.7rem 0.2rem;
  font-size: 2.4rem;
  color: white;
  text-align: center;
  font-family: cursive;
  /* background: black; */
}
.AllMoviesContainer .search {
  padding-top: 4rem;
}
.AllMoviesContainer {
  margin-top: 4rem;
}
.search input {
  width: 44%;
}
.movieWrapper {
  width: 19rem;
}
.movieimg {
  height: 15rem;
}
.Allmovies {
  display: flex;
  align-items: flex-start;
  margin: auto;
  padding-top: 1rem;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1200px;
}
.movieContainer {
  margin: auto;
  margin: 2rem 7rem;
  padding: 1rem;
}
.movieWrapper h2 {
  padding-left: 0.3rem;
}
.movieWrapper a {
  color: blue;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.movieWrapper p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 0.9rem;
  font-weight: bolder;
  padding-left: 0.3rem;
  /* color: rgb(0, 0, 0, 0.75); */
}
img {
  width: 100%;
  height: 100%;
}
.btn {
  width: fit-content;
  margin-top: 1rem;
  padding-left: 0.3rem;
}
.btn button {
  box-shadow: 0px 1px 7px rgb(0, 0, 0, 0.5);
  outline: none;
  cursor: pointer;
  border: none;
  background: black;
  color: #e31f14;
  padding: 1rem 1.2rem;
  border: 1px solid rgb(0, 0, 0, 0.1);
}

.moviebtns {
  margin: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.moviebtns a {
  color: black;
  text-decoration: none;
}

.moviebtns button {
  outline: none;
  cursor: pointer;
  border: none;
  padding: 0.4rem 0.6rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
  background-color: rgba(128, 128, 128, 0.103);
  margin: 0rem 0.5rem;
}
.moviebtns .next {
  padding: 0rem;
  padding: 0.1rem 0.25rem;
  border: 1px solid rgb(0, 0, 0, 0.3);
  background-color: rgba(128, 128, 128, 0.103);
  margin: 0rem 0.5rem;
}
.moviebtns .current {
  background: black;
  color: #e31f14;
}
.moviebtns .current a {
  color: #e31f14;
  background: black;
  text-decoration: none;
}

.AllMoviesContainer footer {
  margin-top: 2rem;
}
@media (max-width: 1150px) {
  .movieContainer {
    margin: 1.6rem 4rem;
  }
}
@media (max-width: 950px) {
  .Allmovies {
    display: block;
    margin: auto;
    width: fit-content;
  }
  .search input {
    width: 70%;
  }
  .movieContainer {
    margin: 1.6rem 1rem;
  }
  .links {
    flex-wrap: wrap;
  }
}
@media (max-width: 817px) {
  .AllMoviesContainer {
    margin-top: 12rem;
  }
}
@media (max-width: 680px) {
  .links h5 {
    margin: 1rem;
  }
  .sm {
    margin: 2rem;
  }
}

@media (max-width: 588px) {
  .AllMoviesContainer .search input,
  .AllMoviesContainer .search button {
    height: 2rem;
    font-weight: normal;
  }
  .AllMoviesContainer .search button {
    margin-left: 0.3rem;
    height: 2.86rem;
  }
  .AllMoviesContainer .heading {
    font-size: 2rem;
  }
}
@media (max-width: 470px) {
  .AllMoviesContainer .search {
    width: 90%;
    margin: auto;
    margin-top: 0rem;
  }
  .AllMoviesContainer .search input {
    width: 90%;
  }
  .AllMoviesContainer .heading {
    font-size: 1.8rem;
    padding: 0.4rem;
  }
}
@media (max-width: 470px) {
  .search {
    width: 97%;
  }
  .AllMoviesContainer .search input {
    width: 90%;
  }
  .AllMoviesContainer .heading {
    font-size: 1.8rem;
    padding: 0.4rem;
  }
}
@media (max-width: 380px) {
  .AllMoviesContainer .search {
    width: 95%;
    margin: auto;
  }
  .AllMoviesContainer .search input {
    font-size: 1rem;
    font-size: smaller;
    height: 1rem;
    padding: 1rem;
  }
  .AllMoviesContainer .search button {
    font-size: 1rem;
    font-size: smaller;
    height: 2rem;
    padding: 0.4rem;
  }
  .AllMoviesContainer .heading {
    margin: 0rem;
  }
  .Allmovies {
    margin: auto;
  }
  .movieContainer {
    margin: 1rem 0.3rem;
  }
}
@media (max-width: 368px) {
  .Allmovies {
    margin: 1rem 0rem;
  }
  .movieContainer {
    width: 90%;
  }
}
@media (max-width: 346px) {
  .moviebtns button {
    margin-right: 0.1rem;
  }
  .movieWrapper {
    width: 18rem;
  }
  .Allmovies {
    margin: 1.3rem 0rem;
    margin: auto;
  }
  .movieContainer {
    margin: 0rem;
  }
}
